*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color: #ededed;
    background: #081b29 ;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #122b3c;
   
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 35, 48);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10% 0;
   
}

.home-content{
      max-width: 600px;
       color: white;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
    font-size: 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content span {
  color: #0ef; 
}

.profile-photo{
    display: flex;
     align-items: center;

}

.profile-photo img {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00bcd4; /* accent color */
  box-shadow: 0 0 50px rgba(0, 188, 212, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 100px;
}

.profile-photo img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 70px rgba(3, 218, 246, 0.8);
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .7s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
} 

.home-sci a:hover{
     background-color: #0ef;
     color: #081b29;
     box-shadow: 0 0 20px #0ef;
}

.btn-box{
   display: inline-block;
   padding: 12px 28px;
   background-color: #0ef;
   border-radius: 40px;
   font-size: 16px;
   color: #081b29;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 10px #0ef;
}

.btn-box:hover{
    box-shadow: 0 0 20px cyan;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    /* gap: 1.5rem; */
}

.about-photo img {
  max-width: 350px;
  height: auto;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #00bcd4; /* accent color */
  box-shadow: 0 0 50px rgba(0, 188, 212, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
   margin: 150px;
}

.about-photo img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 70px rgba(3, 218, 246, 0.8);
}

.about-text h2{
   font-size: 50px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 3rem;
}



@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
